{{ define "main" }}
<section class="data">
    <h2>Formulaire</h2>
    <form>
        <div><label>Nom Complet</label> <input type="text" id="in_name"></div>
        <div><label>Fonction</label> <input type="text" id="in_func"></div>
        <div><label>Email</label> <input type="email" id="in_email"></div>
        <div><label>Tel</label> <input type="tel" id="in_tel"></div>
        <div><input type="button" value="Générer" onclick="generate()"></div>
    </form>
    <h2>Résultat</h2>
</section>

<section class="result">
    <div class="signature" id="sig">
        <img src="img/logo_labanquise.png" class="logo"/>
        <div class="people">
            <strong id="out_name">Jean-Michel POILU</strong><br>
            <strong id="out_func">Nourrisseur des ours Polaires</strong><br>
            📧 <a href="mailto:jeanmich@labanqui.se" id="out_email">jeanmich@labanqui.se</a> / 📱 <span id="out_tel">+33.6 11 22 33 44</span>
        </div>
        <div class="company">
            <strong><a href="https://labanqui.se">LABANQUI.SE</strong></a><br>
            15 Avenue Alan Turing - 59410 ANZIN
        </div>
    </div>
</section>
<input type="button" value="Copier" onclick="copyToClip(document.getElementById('sig').innerHTML)" class="copy">
{{ end }}